img{
    width: 113px;
    height: 64px;
}
table{
    margin: auto;
    width: 100%;
    
}
html{
    border-color: rgb(247, 48, 13) rgb(29, 154, 238) green yellow;
    border-style: double;
    min-height: 99%;
    
}
body{
    background-image: url(fondo.jpg);
    background-size: 100%;
}
th{
    color: rgb(120, 213, 250);
}
td{
    text-align: center;
    color: rgb(0, 255, 136);
}
p{
    color: blanchedalmond;
}
form{
    text-align: center;
}
input{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-weight: bold;
}
h1{
    text-align: center;
    color: yellow
}